
body{font-size:3vw;
background:url(../img/Background.jpg) no-repeat center center fixed;
background-size: cover;
z-index: -2;
}
.a{list-style-type:none}

.b{width:85px;
	}

.c{
	position:absolute;
	width:220px;
	display:inline-block;
	}

.a,.b,.c{display:inline-block;
		width:33.33%;height:100%;
		float:left;
		}

.d{position:relative;	
	top:300px;
	}

#nave{text-align:center;position:relative;top:5%;display:inline ; right:25%; }



#cpanel{
	color:white;
	list-style-position: none;
	list-style-type: none;
	border-color: green;
	border:10px;
	margin:10px;
	text-transform: capitalize;
	
	
}
	#freno {
	position:absolute;
	right:100px;
	}
	#faia {
	position:absolute;
	left:200px;
	
	}
      
	  {---------- Tabla desplegable-------------}

.dropdown {
    position: absolute;
    display: inline-block;
	width:8%;
	z-index:8;
	margin:30px;
	right:50px;
	
	
}

.dropdown-content {
    display: none;
    position: absolute;
	
}

.dropdown:hover .dropdown-content {
    display: block;
	
}

								{------------Sprite-------------------}


#bmenu, #bpausa, #bseguir, #breiniciar, #binstruc, #freno, #faia,  #bnave{
	
	background-image:url(../img/spr.png);
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
}
#bmenu{
	background-position:0px 0px;
	line-height:85px;
	height:85px;
	width:85px;
} 
#bpausa{
	background-position:0px -85px;
	line-height:85px;
	height:85px;
	width:85px;
}
 #bseguir{
	background-position:0px -170px;
	line-height:85px;
	height:85px;
	width:85px;
} 
#breiniciar {
	background-position:0px -255px;
	line-height:85px;
	height:85px;
	width:85px;
} 
#binstruc{
	background-position:0px -340px;
	line-height:85px;
	height:85px;
	width:85px;
} 
#faia{
	background-position:0px -425px;
	line-height:85px;
	height:85px;
	width:85px;
} #freno{
	background-position:0px -510px;
	line-height:85px;
	height:85px;
	width:85px;
}
#bnave {
	height:220px;
	width:220px;
	background-position:-345px 0px;
	
	
}

	
	
	
	
	
