
body{font-size:3vw;
background:url(../img/Background.jpg) no-repeat center center fixed;
background-size: cover;
z-index: -2;
}
.a{list-style-type:none}

.b{}

.c{}

.a,.b,.c{display:inline-block;
		width:33.33%;height:100%;
		float:left;
		display:inline-block;
		
		}

.d{position:relative;	
	top:300px;
	}

#nave{text-align:center;position:relative;top:5%;display:inline ; right:25%; z-index: -1;}

#nave img{
width:15%;}

#cpanel{
	color:white;
	list-style-position: none;
	list-style-type: none;
	border-color: green;
	border:10px;
	margin:10px;
	text-transform: capitalize;
	
	
}
.freno {
	position:absolute;
	right:100px;
	}
	.faia {
	position:absolute;
	left:200px;
	
	}
      
	  {---------- Tabla desplegable-------------}

.dropdown {
    position: absolute;
    display: inline-block;
	width:8%;
	z-index:8;
	margin:30px;
	right:50px;
	
	
}

.dropdown-content {
    display: none;
    position: absolute;
	
}

.dropdown:hover .dropdown-content {
    display: block;
	
}
